<div class="register-form">

  <h2>Create an account</h2>
  <form  [formGroup]="signUpForm">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" id="username" name="username" required formControlName="userName">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" required formControlName="email">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" name="password" required formControlName="password">
    </div>
    <button type="submit" (click)="submit()">Sign up</button>
  </form>
  <div class="signup-link">
    <span>Already have an account?</span>
    <a routerLink="/login">Log in here</a>
  </div>
</div>

