
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}


header {
  background-color: #f7f7f7;
  padding: 10px 0;
  border-bottom: 0px solid #ddd;
  width: 100%;
}

header h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
  margin: 0;
}

header nav {
  margin-top: 10px;
}

header nav ul {
  list-style: none;
  display: flex;
}

header nav ul li {
  margin-right: 20px;
}

header nav ul li:last-child {
  margin-right: 0;
}

header nav ul li a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

header nav ul li a:hover {
  color: #000;
}


main {
  padding: 40px 0;
}

main h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.posts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 30px;
}

.posts article {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
}

.posts article img {
  width: 100%;
  margin-bottom: 20px;
}

.posts article h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.posts article p {
  margin-bottom: 20px;
}

.posts article a {
  display: inline-block;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.posts article a:hover {
  background-color: #000;
}


footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

footer p {
  margin: 0;
  font-size: 0.8rem;
}
button{
  background-color: #333f3d;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  float: right;
  margin-top: -60px;
  margin-right: 10px;
}
.logout{
  background-color: #361515;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  float: right;
  margin-top: -50px;
  margin-right: 20px;
}


.black-btn:hover {
  background-color: #333;
}
